:root {
  --green_font_color: #2a5161;
  --std_black_color: #2C323D;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: white;
}

.logoSection img {
  float: left;
  position: relative;
  top: 7%;
  left: 45%;
  width: 100px;
  height: 100px;
}

.newsFeedPageWrapper {
 background: #0F2027;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 display: flex;
 justify-content: space-between;
 height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.orange-column {
  background-color: pink;
  height: 30vh;
}

.green-column {
  /*background-color: yellow;*/
  height: 70vh;
}

.topNavBar {
  height: 10vh;
  width: 80%;
  position: absolute;
  /*top: %;*/
  left: 10%;
}

/*img {
  width: 50px;
  height: 50px;
  position: relative;
  top: 70%;
}
*/
.uploadImage img{
  position: absolute;
  left: 85%;
  top: 8%;
  width: 70px;
  height: 70px;
}

.username {
  position: absolute;
  top: 20%;
  left: 82%;
}

/*nav links styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 90px;
  color: white;
  text-decoration: none;
  font-weight: 400px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/*styling for the search bar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid var(--green_font_color);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid var(--green_font_color);
  background: var(--green_font_color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.searchBar{
  width: 20%;
  position: absolute;
  top: 14%;
  left: 88%;
  transform: translate(-50%, -50%);
}

/*styling for the ink and globe icons on the page*/
.globe img {
  height: 35px;
  width: 35px;
  position: absolute;
  left: 5%;
  top: 78%;
}

.ink {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 5.5%;
  top: 84.5%;
}

























